.form-group .sceditor-container iframe, .form-group .sceditor-container textarea {
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0 5px;
}
.form-group .sceditor-toolbar .sceditor-group:last-child {
    margin-right: 0;
}
.form-group .sceditor-button {
    width: 15px;
    height: 20px;
    width: 16.67px;
}
.form-group .sceditor-container,
.form-group div.sceditor-toolbar {
    border-radius: 0;
}
.form-group.has-error .sceditor-container {
    border: 1px solid #FF556A;
}
.form-group.has-error div.sceditor-toolbar {
    border-bottom: 1px solid #FF556A;
}

.form-group .sceditor-container {
    width: 100% !important;
}
.form-group .sceditor-container iframe {
    width: 100% !important;
}
.form-group .sceditor-container textarea {
    width: 100% !important;
}

.form-group {
    position: relative;
}
.load-SCEditor {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    background: #F8F8F8;
    z-index: 9999;
    text-align: center;
}
.load-SCEditor div {
    display: table;
    width: 100%;
    height: 100%;
}
.load-SCEditor div div {
    display: table-cell;
    vertical-align: middle;
}
.load-SCEditor div img {
    width: 40px;
}